# Database Configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=

# Backend Configuration
PORT=
BACKEND_PORT=
BACKEND_URL=
FRONTEND_URL=

# JWT Configuration
JWT_SECRET=

# Frontend Configuration
# Email Configuration
EMAIL_USER=
EMAIL_PASSWORD=