@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Custom Range Slider Styles to fix missing handle */
  input[type='range'] {
    @apply h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700;
  }

  input[type='range']::-webkit-slider-thumb {
    @apply appearance-none w-4 h-4 bg-pink-600 rounded-full cursor-pointer;
  }

  input[type='range']::-moz-range-thumb {
    @apply w-4 h-4 bg-pink-600 rounded-full border-none cursor-pointer;
  }

  .scrollbar-visible::-webkit-scrollbar {
    height: 8px;
  }
  
  .scrollbar-visible::-webkit-scrollbar-track {
    @apply bg-gray-100 dark:bg-gray-700 rounded-full;
  }
  
  .scrollbar-visible::-webkit-scrollbar-thumb {
    @apply bg-gray-400 dark:bg-gray-500 rounded-full border-2 border-transparent bg-clip-content;
  }
}

@layer base {
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full border-2 border-transparent bg-clip-content;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
  }

  .dark ::-webkit-scrollbar-thumb {
    @apply bg-gray-600;
  }

  .dark ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
  }
}
